.pano{
    width: 300px;
    height: 4s00px;
    margin: 5px;
}
.scene{
    height: 300px;
    width: 300px;
}
.af{
    height: 300px;
    width: 300px;
}
.panoramic{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    border-radius: 50px;
}